.destinations {
    max-width: $basic-width;
    margin: 0 auto;
    background-color: $color-light;
    padding-bottom: 80px;
}
.title_destinations {
    margin-bottom: 46px;
}

.slider__wrapper {
    max-width: 1440px;
    overflow: hidden;
}
.destinations__cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    width: 2520px;
    margin-left: -540px;
    margin-bottom: 24px;
}
.destinations-card {
    position: relative;
    width: 800px;
    height: 800px;

    &__image {
        border-radius: 16px;
        @extend %transition;

    }

    &__text {
        position: absolute;
        left: 15px;
        bottom: 42px;
        @extend %font-main;
        @include font(3.2rem, 4.2rem, 500);
        color: $color-light;
    }
}

@keyframes slide-to-right {
    from {right: -540px;}
    to {right: -800px;}
}

.slide-right {
    animation-name: slide-to-right;
    animation-duration: 3s;
}

@keyframes slide-to-left {
    from {left: -540px;}
    to {left: -800px;}
}

.slide-left {
    animation-name: slide-to-left;
    animation-duration: 3s;
}

.mobile-slider__wrapper {
    width: 360px;
    overflow: hidden;
    margin: 0 auto 10px;
    display: none;
}
.mobile-slider__cards {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1080px;
    margin-right: -720px;
}
.mobile-card {
    position: relative;
    width: 360px;
    height: 210px;

    &__image {
        border-radius: 16px;
    }

    &__text {
        position: absolute;
        top: 8px;
        left: 15px;
        @extend %font-main;
        @include font(2rem, 2.6rem, 500);
        color: $color-light;
    }

}

.destinations__dots {
    width: 80px;
    height: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    margin: 0 auto 40px;
}
.dot {
    width: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    border: none;
}
.dot.active {
    background-color: $color-orange;
}
