@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&display=swap');


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 10px;
}
:root {
    --white: #FFFFFF;
    --orange: #F2785C;
    --marine: #0D606F;
    --grey: #E5E5E5;
}
.button {
    font-family: 'Red Hat Text', sans-serif;
    background-color: var(--marine);
    color: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
}
.title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 53px;
    color: var(--orange);
    text-align: center;
    margin-top: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

 /* Header */
.header {
    background: url(./assets/images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.layer {
    position: relative;
    padding: 25px 120px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);   
}
.header__wrapper {
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding-bottom: 3px;
}
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 42px;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
    line-height: 21.17px; 
}
.navbar__list:last-child {
    padding-right: 38px;
}
.navbar__list li a {
    text-decoration: none;
    color: var(--white);
}
.button-login {
    width: 103px;
    height: 41px;
    font-size: 1.6em;
    line-height: 21.17px;
}

/* Main */

/* Intro */
.intro {
    padding: 32px 428px 221px 120px;
    background-image: url(./assets/images/intro_bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
}
.intro__block {
    position: relative;
    width: 892px;
    height: 422px;
}
.intro__title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 8em;
    line-height: 96px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 32px;
}
.intro__text {
    font-family: 'Aleo', serif;
    font-style: italic;
    /* font-weight: 700; */
    font-size: 2em;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--white);
    margin-bottom: 46px;
}
.search-field {
    width: 892px;
    height: 95px;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 16px; 
}
::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-left: 41px;
    color: var(--orange);
}
.button-start {
    position: absolute;
    bottom: 51px;
    right: 18px;
    width: 228px;
    height: 59px;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 32px;
}

/* Steps */

.steps {
    padding: 80px 132px 97px;
    background-color: var(--grey);
}
.title-steps {
    margin-bottom: 40px;
}
.steps__cards {
    display: flex;
    flex-direction: row;
}
.card {
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 24px;
    color: var(--marine);
    vertical-align: bottom;
    margin: 0;
}
.card1 {
    background: url(./assets/svg/cycle.svg);
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: 231px;
}
.card2 {
    background: url(./assets/svg/calender.svg);
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: 160px;
}
.card3 {
    background: url(./assets/svg/plane.svg);
    background-position: top center;
    background-repeat: no-repeat;
}