@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #F2785C;
    --marine: #0D606F;
    --grey: #E5E5E5;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 10px;
}
body {
    background-color: var(--grey);
    background-size: 100%;
}
.button {
    font-family: 'Red Hat Text', sans-serif;
    background-color: var(--marine);
    color: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.button:hover {
    transform: scale(1.06);
}
.title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 53px;
    color: var(--orange);
    text-align: center;
    margin-top: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

 /* Header styling*/

.header {
    background: url(./assets/images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.layer {
    position: relative;
    padding: 25px 120px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);   
}
.header__wrapper {
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding-bottom: 3px;
}
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 42px;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
    line-height: 21.17px; 
}
.navbar__list:last-child {
    padding-right: 38px;
}
.navbar__list li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--white);
    transition: all ease-in-out 0.5s;
}
.navbar__list li a:hover {
    color: var(--grey);
}
.navbar__list li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 0%;
    background-color: var(--grey);
    transition: all ease-in-out 0.5s; 
}
.navbar__list li a:hover::after {
    width: 100%;
}
.button-login {
    width: 103px;
    height: 41px;
    font-size: 1.6em;
    line-height: 21.17px;
}

/* Main styling*/

/* Intro section styling*/

.intro {
    padding: 32px 428px 221px 120px;
    background-image: url(./assets/images/intro_bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
}
.intro__block {
    position: relative;
    width: 892px;
    height: 422px;
}
.intro__title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 8em;
    line-height: 96px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 32px;
}
.intro__text {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-size: 2em;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--white);
    margin-bottom: 46px;
}
.search-field {
    width: 851px;
    height: 95px;
    padding: 0 0 0 41px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 16px;
    font-family: 'Aleo', serif;
    font-size: 2.4em;
    line-height: 29px;
    color: var(--orange); 
}
.search-field:focus {
    font-family: 'Aleo', serif;
    outline: none;
    font-size: 2.4em;
    line-height: 29px;
    color: var(--orange);
}
::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--orange);
}
.button-start {
    position: absolute;
    bottom: 51px;
    right: 18px;
    width: 228px;
    height: 59px;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 32px;
}

/* Steps section styling*/

.steps {
    padding: 80px 132px 97px;
    background-color: var(--grey);
}
.title-steps {
    margin-bottom: 40px;
}
.steps__cards {
    display: flex;
    flex-direction: row;
}
.card {
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 24px;
    color: var(--marine);
    vertical-align: bottom;
    margin: 0;
}
.card1 {
    background: url(./assets/svg/cycle.svg);
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: 231px;
}
.card2 {
    background: url(./assets/svg/calender.svg);
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: 160px;
}
.card3 {
    background: url(./assets/svg/plane.svg);
    background-position: top center;
    background-repeat: no-repeat;
}

/* Destinations section styling*/

.destinations {
    background-color: var(--grey);
    padding-bottom: 80px;
}
.title-destinations {
    margin-bottom: 46px;
}
.destinations__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    overflow: hidden;
    margin-bottom: 22px;
}
.destinations-card img {
    border-radius: 16px;
    transition: all ease-in-out 0.5s;
}
.destinations-card img:hover {
    transform: scale(1.05);
}
.destinations-card {
    position: relative;
}

.destinations-card span {
    position: absolute;
    left: 15px;
    bottom: 42px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2em;
    line-height: 42px;
    color: var(--white);
}
.destinations__dots {
    width: 80px;
    height: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    margin: 0 auto 39px;
}
.dot {
    width: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    border: none;
}
.dot.active {
    background-color: var(--orange);
}
.button-arrow {
    display: block;
    width: 228px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 32px;
    padding-left: 81px;
    padding-right: 31px;
    background: url(./assets/svg/arrow-right.svg), var(--marine);
    background-repeat: no-repeat;
    background-position: center left 31px;
    border: none;
    margin: 0 auto;
}

/* Stories section styling */

.title-stories {
    margin-bottom: 40px;
}
.stories__cards {
    background: url(./assets/images/stories_bg.jpg);
    background-repeat: no-repeat;
}
.bg-layer {
    background-color: rgba(255, 255, 255, 0.7);;
}
.stories__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0 41px;
    margin: 0 auto;
}
.story-card {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.story-card img {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    transition: all ease-in-out 0.5s; 
}
.story-card img:hover {
    transform: scale(1.05);
}
.story-card-text {
    display: flex;
    flex-direction: column;
}
.card-title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
    line-height: 42px;
    color: var(--marine);
    margin-top: 0;
    margin-bottom: 24px;
}
.card-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 24px;
    color: var(--marine);
    text-align: left;
    margin: 0;
}
.card-link {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 24px;
    color: var(--marine);
}
.button-see {
    margin-top: 10px;
}

/* Footer styling */

.footer {
    padding: 14px 121px 13px 590px;
    background: url(./assets/images/stories_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.footer__wrapper {
    width: 729px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 21px;
    color: var(--white);
}
.social-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 19px;
}
.social-icons li a img {
    transition: all ease-in-out 0.5s; 
}
.social-icons li a img:hover {
    transform: scale(1.1);
}