body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 10px;
}
* {
    box-sizing: border-box;
}
body {
    background-color: $color-light;
    background-size: 100%;
}
.title {
    @extend %font-main;
    @include font(4rem, 5.3rem, 500);
    color: $color-orange;
    text-align: center;
    margin-top: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}