.header {
    max-width: $basic-width;
    margin: 0 auto;
    background: url(../assets/images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.layer {
    position: relative;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);   
}
.logo__text {
    font-family: 'Magra';
    @include font(3.2rem, 3.9rem, 600);
    color: $color-light;
    padding: 0 5px;
}
.hamburger {
    display: none;
    @extend %transition;

    span {
        display: block;
        width: 26px;
        height: 3px;
        margin-bottom: 4px;
        background-color: $color-light;
    }
}


