.wrapper {
    max-width: $content-width;
    margin: 0 auto;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18.5px 0;
}
.intro__wrapper {
    padding: 32px 0 255px;
}
.steps__wrapper {
    padding: 80px 11.5px 97px;
}
.stories__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0 41px;
    margin: 0 auto;
}
.footer__wrapper {
    padding: 14px 0 13px 470px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}